*.swp
*.swo
*.DS_Store
Thumbs.db

.idea/
*.sln.iml
.idea/.idea.Rider*
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/httpRequests
.idea/.cache


_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user


**/[Bb]in/
**/[Oo]bj/
**/out/
**/artifacts/

**/packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json

**/wwwroot/
**/appsettings.Development.json
**/secrets.json

########################
# Logs
########################
*.log
logs/